In [2]:
import numpy as np
import pandas as pd
import os
import random
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv(r"C:\Users\ISHANSINGH\Documents\A_drive\MY_PROJECTS\Drug-activity-EDA\notebooks\data\qsar_fish_toxicity.csv")

In [4]:
df = pd.read_csv('C:/Users/ISHANSINGH/Documents/A_drive/MY_PROJECTS/Drug-activity-EDA/notebooks/data/qsar_fish_toxicity.csv',header=None,delimiter=';')
df.head(5)

       0      1      2  3  4      5      6
0  3.260  0.829  1.676  0  1  1.453  3.770
1  2.189  0.580  0.863  0  0  1.348  3.115
2  2.125  0.638  0.831  0  0  1.348  3.531
3  3.027  0.331  1.472  1  0  1.807  3.510
4  2.094  0.827  0.860  0  0  1.886  5.390

In [5]:
df.rename({0: 'CIC0', 1: 'SM1_Dz(Z)',2:'GATS1i',3:'NdsCH',4:'NdssC',5:'MLOGP',6:'quan resp, LC50 [-LOG(mol/L)]'}, axis=1, inplace=True)
df.head()

,CIC0,SM1_Dz(Z),GATS1i,NdsCH,NdssC,MLOGP,"quan resp, LC50 [-LOG(mol/L)]"
0,3.260,0.829,1.676,0,1,1.453,3.770
1,2.189,0.580,0.863,0,0,1.348,3.115
2,2.125,0.638,0.831,0,0,1.348,3.531
3,3.027,0.331,1.472,1,0,1.807,3.510
4,2.094,0.827,0.860,0,0,1.886,5.390

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908 entries, 0 to 907
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CIC0                           908 non-null    float64
 1   SM1_Dz(Z)                      908 non-null    float64
 2   GATS1i                         908 non-null    float64
 3   NdsCH                          908 non-null    int64
 4   NdssC                          908 non-null    int64
 5   MLOGP                          908 non-null    float64
 6   quan resp, LC50 [-LOG(mol/L)]  908 non-null    float64
dtypes: float64(5), int64(2)
memory usage: 49.8 KB

In [7]:
# Assuming df is your DataFrame
X = df.iloc[:, :6]  # Features (all columns except the last one)
y = df.iloc[:, 6]    # Target variable (the last column)

# Alternatively, you can use column names for better readability
# X = df[['CIC0', 'SM1_Dz(Z)', 'GATS1i', 'NdsCH', 'NdssC', 'MLOGP']]
# y = df['quan resp, LC50 [-LOG(mol/L)]']

In [11]:
categorical_cols=X.select_dtypes(include='object').columns

In [12]:
numerical_cols=X.select_dtypes(exclude='object').columns

In [13]:
numerical_cols

Index(['CIC0', 'SM1_Dz(Z)', 'GATS1i', 'NdsCH', 'NdssC', 'MLOGP'], dtype='object')

In [14]:
X.select_dtypes(include='object')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[908 rows x 0 columns]

In [15]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [16]:
# # Define the custom ranking for each ordinal variable
# cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']
# color_categories = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
# clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [17]:
num_pipeline=Pipeline(
    
    
    steps=[
        
        ('imputer',SimpleImputer()),
        ('scaler', StandardScaler())
    ]
    
    
)

In [23]:
# cat_pipeline=Pipeline(
    
#     steps=[
#         ('imputer',SimpleImputer(strategy='most_frequent')),
#         ('ordinalencoder',OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories]))
#     ]
    
# )

In [25]:
preprocessor=ColumnTransformer(
    [
        
        ('num_pipeline',num_pipeline,numerical_cols),
        #('cat_pipeline',cat_pipeline,categorical_cols)
    ]
)

In [26]:

## Train test split

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=30)

In [27]:
preprocessor.fit_transform(X_train)

array([[-1.24138654, -1.19447276, -0.23087837,  1.21317731, -0.58106166,
        -1.08234118],
       [-0.17513566,  0.45391957, -0.66091018, -0.38178665, -0.58106166,
         1.00717751],
       [ 1.2839445 , -1.19447276,  1.72589357, -0.38178665, -0.58106166,
         0.3340114 ],
       ...,
       [ 0.72145474, -1.51183565, -1.19272466, -0.38178665, -0.58106166,
         1.22486459],
       [ 0.11589733,  0.02997959, -1.3352204 , -0.38178665, -0.58106166,
         1.4515642 ],
       [ 1.7824853 , -0.55264184,  0.09991532, -0.38178665, -0.58106166,
         0.99608517]])

In [28]:
preprocessor.transform(X_test)

array([[ 0.36908297, -0.33711928, -0.43953286, -0.38178665,  0.55424343,
         0.07819441],
       [ 0.80106466,  0.17208237,  0.71315595, -0.38178665,  2.82485362,
        -0.37451153],
       [ 0.64576007, -1.51183565, -0.49551333, -0.38178665, -0.58106166,
         0.79711641],
       ...,
       [-1.15916646,  0.45391957,  1.15845515, -0.38178665, -0.58106166,
         0.0809675 ],
       [-0.45311783,  0.12945154,  1.73352727, -0.38178665,  1.68954853,
        -1.42273723],
       [-0.27562687, -0.55264184,  1.77424034, -0.38178665, -0.58106166,
        -1.51840862]])

In [29]:
preprocessor.get_feature_names_out()

array(['num_pipeline__CIC0', 'num_pipeline__SM1_Dz(Z)',
       'num_pipeline__GATS1i', 'num_pipeline__NdsCH',
       'num_pipeline__NdssC', 'num_pipeline__MLOGP'], dtype=object)

In [30]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [31]:
X_train

,num_pipeline__CIC0,num_pipeline__SM1_Dz(Z),num_pipeline__GATS1i,num_pipeline__NdsCH,num_pipeline__NdssC,num_pipeline__MLOGP
0,-1.241387,-1.194473,-0.230878,1.213177,-0.581062,-1.082341
1,-0.175136,0.453920,-0.660910,-0.381787,-0.581062,1.007178
2,1.283944,-1.194473,1.725894,-0.381787,-0.581062,0.334011
3,-0.316084,-0.337119,1.886201,-0.381787,-0.581062,-2.097983
4,-0.943828,2.244415,1.766607,-0.381787,-0.581062,0.819301
...,...,...,...,...,...,...
630,-1.045624,-1.194473,-0.134185,-0.381787,-0.581062,-1.137803
631,1.251317,0.451551,0.641908,-0.381787,0.554243,0.635584
632,0.721455,-1.511836,-1.192725,-0.381787,-0.581062,1.224865
633,0.115897,0.029980,-1.335220,-0.381787,-0.581062,1.451564
634,1.782485,-0.552642,0.099915,-0.381787,-0.581062,0.996085

In [32]:
X_test

,num_pipeline__CIC0,num_pipeline__SM1_Dz(Z),num_pipeline__GATS1i,num_pipeline__NdsCH,num_pipeline__NdssC,num_pipeline__MLOGP
0,0.369083,-0.337119,-0.439533,-0.381787,0.554243,0.078194
1,0.801065,0.172082,0.713156,-0.381787,2.824854,-0.374512
2,0.645760,-1.511836,-0.495513,-0.381787,-0.581062,0.797116
3,-1.232251,-0.727902,1.489249,-0.381787,-0.581062,-2.192268
4,1.368775,-0.552642,-0.566761,1.213177,-0.581062,1.301818
...,...,...,...,...,...,...
268,-1.236166,0.922859,-1.383567,-0.381787,-0.581062,0.004708
269,0.404320,2.043102,-1.103665,-0.381787,-0.581062,2.107399
270,-1.159166,0.453920,1.158455,-0.381787,-0.581062,0.080967
271,-0.453118,0.129452,1.733527,-0.381787,1.689549,-1.422737
272,-0.275627,-0.552642,1.774240,-0.381787,-0.581062,-1.518409

In [33]:
"""linear regression
ridge regression
lasso regression
elastic net"""

'linear regression\nridge regression\nlasso regression\nelastic net'

In [34]:
## Model Training

from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [35]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [36]:
## Train multiple models

models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}

In [37]:
trained_model_list=[]
model_list=[]
r2_list=[]

In [38]:
list(models)

['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet']

In [39]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    print(model)

LinearRegression()
Lasso()
Ridge()
ElasticNet()

In [40]:
models.keys()

dict_keys(['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet'])

In [41]:
models.values()

dict_values([LinearRegression(), Lasso(), Ridge(), ElasticNet()])

In [42]:


for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    #this is a validation(test) score
    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 0.8458321632330441
MAE: 0.6288204862234533
R2 score 63.2304617628032
===================================


Lasso
Model Training Performance
RMSE: 1.396534214658578
MAE: 1.0556462230682704
R2 score -0.23581954185190046
===================================


Ridge
Model Training Performance
RMSE: 0.8457699434032642
MAE: 0.6287367077516812
R2 score 63.23587113445873
===================================


Elasticnet
Model Training Performance
RMSE: 1.2076321105494536
MAE: 0.8997890137514591
R2 score 25.046988024811622
===================================

In [43]:
trained_model_list

[]

In [44]:
model_list

['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet']

In [45]:
r2_list

[0.632304617628032,
 -0.0023581954185190046,
 0.6323587113445873,
 0.25046988024811623]